[Desktop Entry]
Exec=lumina-info
Icon=/usr/local/share/pixmaps/Lumina-DE.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
OnlyShowIn=Lumina
Name=Desktop Information
Comment=View information about the Lumina Desktop Environment

