global.h
*.qm
Makefile.Debug
Makefile.Release
*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
lumina-config/lumina-config
lumina-desktop/Lumina-DE
lumina-fm/lumina-fm
lumina-info/lumina-info
lumina-open/lumina-open
lumina-screenshot/lumina-screenshot
lumina-search/lumina-search
lumina-fileinfo/lumina-fileinfo
lumina-xconfig/lumina-xconfig
lumina-wm*/lumina-wm
libLumina/libLuminaUtils.so*
