global.h
*.qm
Makefile.Debug
Makefile.Release 
*.o 
*.swp
*.qmake.stash
moc_*.cpp
ui_*.h
qrc_*.cpp
src-qt5/core/lumina-desktop/lumina-desktop
src-qt5/core/lumina-session/start-lumina-desktop
src-qt5/core/lumina-wm*/lumina-wm
src-qt5/core/libLumina/test/test
src-qt5/core/lumina-info/lumina-info
src-qt5/core/lumina-checkpass/lumina-checkpass
src-qt5/core/lumina-desktop-unified/lumina-desktop-unified
src-qt5/core/lumina-open/lumina-open
src-qt5/core-utils/lumina-config/lumina-config
src-qt5/core-utils/lumina-search/lumina-search
src-qt5/core-utils/lumina-xconfig/lumina-xconfig
src-qt5/desktop-utils/lumina-fm/lumina-fm
src-qt5/desktop-utils/lumina-fileinfo/lumina-fileinfo
src-qt5/desktop-utils/lumina-screenshot/lumina-screenshot
src-qt5/desktop-utils/lumina-terminal/lumina-terminal
src-qt5/desktop-utils/lumina-textedit/lumina-textedit
src-qt5/desktop-utils/lumina-archiver/lumina-archiver
src-qt5/desktop-utils/lumina-calculator/lumina-calculator
src-qt5/desktop-utils/lumina-pdf/lumina-pdf
src-qt5/desktop-utils/lumina-notify/lumina-notify
src-qt5/core/lumina-theme-engine/src/lthemeengine-qtplugin/
src-qt5/core/lumina-theme-engine/src/lthemeengine-qtplugin/.build/
src-qt5/core/lumina-theme-engine/src/lthemeengine-qtplugin/Makefile
src-qt5/core/lumina-theme-engine/src/lthemeengine-qtplugin/liblthemeengine.so
src-qt5/core/lumina-theme-engine/src/lthemeengine-sstest/Makefile
src-qt5/core/lumina-theme-engine/src/lthemeengine-sstest/lthemeengine-sstest
src-qt5/core/lumina-theme-engine/src/lthemeengine-style/.build/
src-qt5/core/lumina-theme-engine/src/lthemeengine-style/Makefile
src-qt5/core/lumina-theme-engine/src/lthemeengine-style/liblthemeengine-style.so
src-qt5/core/lumina-theme-engine/src/lthemeengine/Makefile
src-qt5/core/lumina-theme-engine/src/lthemeengine/lthemeengine
src-qt5/desktop-utils/lumina-mediaplayer/lumina-mediaplayer
src-qt5/Makefile
src-qt5/*/Makefile
src-qt5/*/*/Makefile
src-qt5/*/*/*/Makefile
dev-tools/*/Makefile
dev-tools/systray-tester/test-tray
dev-tools/test-dbus/test
icon-theme/Makefile
icon-theme/*/Makefile
Makefile
src-qt5/src-qml/test/*
src-qt5/desktop-utils/lumina-pdf/fontconfig/*
