[Desktop Entry]
Exec=lumina-xconfig
Icon=video-display
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Name=Lumina Screen Configuration
Name[pt]=Configuração de ecrã do Lumina
Name[ru]=Настройка экрана Lumina
Name[sv]=Lumina skärmkonfiguration
Comment=Setup monitors and screens
Comment[pt]=Configurar monitores e ecrãs
Comment[ru]=Настройщик мониторов и экранов
Comment[sv]=Ställ in monitorer och skärmar
