[Desktop Entry]
Exec=lumina-xconfig
Icon=video-display
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Name=Lumina Screen Configuration
Comment=Setup monitors and screens
