[Desktop Entry]
Exec=lumina-photo %f
Icon=applications-graphics
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;
MimeType=
Name=Lumina Image Viewer
Comment=View photo
Name[pt]=Visualizador de imagens Lumina
Name[sv]=Lumina Bildvisare
Name[ru]=Просмотрщик фотографий Lumina
Name[zh_CN]=Lumina 图像查看器
Comment[pt]=Visualização de fotos
Comment[sv]=Visa Foto
Comment[ru]=Просмотр фотографий
Comment[zh_CN]=查看照片
