[Desktop Entry]
Exec=lumina-fileinfo %f
TryExec=lumina-fileinfo
Icon=unknown
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
Name=Lumina File Information
Comment=View or edit file information

