[Desktop Entry]
Exec=lumina-textedit %F
Icon=document-edit
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Development;
MimeType=text/plain;text/x-log;text/*;
Name=Lumina Text Editor
Comment=Plaintext editor with syntax highlighting
