[Desktop Entry]
Exec=lumina-mediaplayer --pandora
TryExec=pianobar
Icon=pandora
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;
MimeType=
Name=Pandora Internet Radio
Comment=Listen to Free Music You'll Love
Name[pt]=Pandora Internet Radio
Name[ru]=Интернет-радио Pandora
Comment[pt]=Escutar a sua música gratuita preferida
Comment[ru]=Онлайн прослушивание музыки
