[Desktop Entry]
Exec=lumina-mediaplayer %f
Icon=media-playlist-audio
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
MimeType=
Name=Lumina Media Player
Comment=Play Multimedia Content
