[Desktop Entry]
Exec=lumina-mediaplayer %f
Icon=applications-multimedia
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;
MimeType=
Name=Lumina Media Player
Comment=Play Multimedia Content
Name[pt]=Reprodutor multimédia Lumina
Name[ru]=Проигрыватель мультимедиа Lumina
Comment[pt]=Reprodução de conteúdo multimédia
Comment[ru]=Проигрывание мультимедиа-контента
