[Desktop Entry]
Exec=lumina-mediaplayer --pandora
TryExec=pianobar
Icon=pandora
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;
MimeType=
Name=Pandora Internet Radio
Comment=Listen to Free Music You'll Love
Name[pt]=Pandora Internet Radio
Name[sv]=Pandora Internet Radio
Name[ru]=Интернет-радио Pandora
Name[zh_CN]=Pandora 网络电台
Comment[pt]=Escutar a sua música gratuita preferida
Comment[sv]=Lyssna på gratis musik du kommer att älska
Comment[ru]=Онлайн прослушивание музыки
Comment[zh_CN]=收听你挚爱的免费音乐
