[Desktop Entry]
Exec=lumina-calculator
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;
Name=Calculator
GenericName=Scientific Calculator for Lumina
Comment=Perform mathematical calculations
