[Desktop Entry]
Type=Application
Version=1.0
Name=Lumina-XDG-Entry
GenericName=.desktop file Creator
Comment=
Icon=
Terminal=false
Exec=/usr/local/bin/lumina-xdg-entry
Categories=Utility;
Keywords=
