[Desktop Entry]
Exec=lumina-screencast
Icon=screencast
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
Name=Lumina Screencast
Comment=Record Screen
Name[pt]=Lumina Screencast
Name[sv]=Lumina skärmsändning
Name[ru]=Запись экрана Lumina
Comment[pt]=Aplicação para gravar ações no ecrã
Comment[sv]=Spela in skärmen
Comment[ru]=Программа для записи экрана
