[Desktop Entry]
Exec=lumina-screencast
Icon=screencast
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
Name=Lumina Screencast
Comment=Record Screen
Name[pt]=Lumina Screencast
Comment[pt]=Aplicação para gravar ações no ecrã
