[Desktop Entry]
Exec=lumina-network-manager
TryExec=lumina-network-manager
Icon=preferences-system-network
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;Utility;
Name=Network Settings
GenericName=
Comment=Network Settings
