[Desktop Entry]
Type=Link
URL=https://t.me/luminadesktop
Icon=Lumina-DE
OnlyShowIn=X-Lumina;
Name=Community Support
Name[pt]=Suporte da comunidade
Name[sv]=Support från gemenskapen
Name[ru]=Помощь и поддержка сообщества Lumina
Name[zh_CN]=社区支持
GenericName=Get Desktop Help
GenericName[pt]=Obter ajuda
GenericName[sv]=Få skrivbordsmiljöhjälp
GenericName[zh_CN]=获得桌面帮助
Comment=Ask for desktop support on the community chat channel (Telegram)
Comment[pt]=Pedir ajuda à comunidade no canal de chat (Telegram)
Comment[sv]=Be om support för skrivbordsmiljön på gemenskapschattkanalen (Telegram)
Comment[ru]=Помощь по рабочему столу Lumina в Telegram-чате
Comment[zh_CN]=通过社区聊天频道 (Telegram) 寻求桌面支持
