[Desktop Entry]
Type=Link
URL=https://t.me/luminadesktop
Icon=Lumina-DE
Categories=System;
OnlyShowIn=Lumina;
Name=Community Support
Name[pt]=Suporte da comunidade
GenericName=Get Desktop Help
GenericName[pt]=Obter ajuda
Comment=Ask for desktop support on the community chat channel (Telegram)
Comment[pt]=Pedir ajuda à comunidade no canal de chat (Telegram)
