[Desktop Entry]
Type=Link
URL=https://t.me/luminadesktop
Icon=Lumina-DE
Categories=System;
OnlyShowIn=Lumina;
Name=Community Support
GenericName=Get Desktop Help
Comment=Ask for desktop support on the community chat channel (Telegram)
