[Desktop Entry]
Exec=lumina-screenshot -new-instance
Icon=camera-web
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
Name=Lumina Screenshot
Comment=Take Screenshot
