[Desktop Entry]
Exec=lumina-fm %F
Icon=Insight-FileManager
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
MimeType=inode/directory;
Name=Insight File Manager
Name[fr]=Insight Gestionnaire de fichiers
Name[fr_CA]=Insight Gestionnaire de fichiers
Name[ja]=Insightファイルマネージャー
Name[pl]=Insight Menadżer plików
Comment=Access and use files
Comment[fr]=Accéder et utiliser les fichiers
Comment[fr_CA]=Accéder et utiliser les fichiers
Comment[ja]=最近使ったファイル
Comment[pl]=Dostęp i używanie plików
