#!/usr/bin/make -f
DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_PREF = $(shell gcc -print-multiarch)
USER_QMAKE_FLAGS = PREFIX=/usr LIBPREFIX=/usr/lib/$(DEB_PREF) QT5LIBDIR=/usr/lib/$(DEB_PREF)/qt5
QMAKE_EXTRA_DIRS = libLumina \
	lumina-config \
	lumina-desktop \
	lumina-fm \
	lumina-open \
	lumina-screenshot \
	lumina-search

%:
	dh $@

override_dh_auto_configure:
	/usr/lib/$(DEB_PREF)/qt5/bin/qmake $(USER_QMAKE_FLAGS)
	for d in $(QMAKE_EXTRA_DIRS) ; do (cd $$d && /usr/lib/$(DEB_PREF)/qt5/bin/qmake $(USER_QMAKE_FLAGS)); done

override_dh_auto_clean:
	-$(MAKE) distclean
	-find $(CURDIR) -name *.qm | xargs rm

override_dh_strip:
	dh_strip -a --dbg-package=libluminautils-dbg

override_dh_auto_install:
	INSTALL_ROOT=$(CURDIR)/debian/tmp/ $(MAKE) install
