[Desktop Entry]
Exec=lumina-pdf %f
Icon=application-pdf
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Graphics
MimeType=application/pdf;
Name=Lumina PDF Viewer
Comment=View PDF Files
