[Desktop Entry]
Exec=lumina-archiver %f
Icon=utilities-file-archiver
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
MimeType=application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-bzip-compressed-tar;application/x-tar;application/x-compressed-tar;application/zip;application/gzip;application/bzip
Name=Lumina Archiver
Comment=Archive creator and viewer
