[Desktop Entry]
Exec=Lumina-DE
TryExec=Lumina-DE
Icon=Lumina-DE
Type=Application
Name=Lumina
Name[de]=Lumina
Name[en_GB]=Lumina
Name[en_ZA]=Lumina
Name[et]=Lumina
Name[fr]=Lumina
Name[fr_CA]=Lumina
Name[hi]=ल्यूमिना
Name[ja]=Lumina
Name[mt]=Lumina
Name[pl]=Lumina
Name[pt_BR]=Lumina
Name[ru]=Lumina
Name[uk]=Lumina
Name[vi]=Lumina
Comment=A Lightweight Desktop for FreeBSD
Comment[de]=Eine leichtgewichtige Arbeitsplatzumgebung für FreeBSD
Comment[en_GB]=A Lightweight Desktop for FreeBSD
Comment[en_ZA]=A Lightweight Desktop for FreeBSD
Comment[et]=Minimalistlik töölauakeskkond FreeBSD-le
Comment[fr]=Un environnement bureau léger pour FreeBSD
Comment[fr_CA]=Un environnement bureau léger pour FreeBSD
Comment[hi]=एक हल्का डेस्कटॉप फ्री बी.एस.डी के लिए
Comment[ja]=FreeBSD の為に作られた軽快なデスクトップ環境
Comment[mt]=A Desktop irqiq għal FreeBSD
Comment[pl]=Lekkie Środowisko graficzne dla FreeBSD
Comment[pt_BR]=Um ambiente de trabalho leve para FreeBSD
Comment[uk]=Легковісне оточення стільниці для FreeBSD
Comment[vi]=Một máy tính để bàn nhẹ cho FreeBSD
